/* 基础设置 */
.container{
    width: 1190px;
    margin: 0 auto;
} 
 
 
 /* #region顶部导航条start */


 .topbar{
    height: 30px;
    background-color: #ECECEC;
}
.welcome{
    line-height: 30px;
    font-size: 0;
    height: 30px;
    color: #666666;
}
.welcome span,.welcome a{
    font-size: 12px;
}
.welcome .hello{margin-right: 28px;

}
.welcome .login{
padding-right: 10px;
border-right: 1px solid #666;
}
.welcome .register{
padding-left: 10px;
}
.topbar-nav .list li{
    float: left;
    
}
.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list a{
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}
.topbar-nav{
    background-color: #ECECEC;
}


 /* #endregion顶部导航条end */
 

 /* #region头部start */
.header{
    height: 120px;
background-color: white;
 }
 .header .logo img{
    margin-top: 24px;
    margin-left: 56px;
 }
 
 .header .search form{
    margin-top: 42px;
    font-size: 0;
 }
 .header .search input{
    width: 508px;
    height: 34px;
    border: 2px solid orange;
    border-radius: 1px;
    
 }
 .header .search .btn1{
    width: 80px;
    height: 36px;
    background-color: orange;
    vertical-align: top;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
    
    
 }
 .header .search {
    margin-left: 156px;
 }
.header  .shop{
    width: 140px;
    height: 36px;
    font-size: 14px;
    background-color:orange;
    text-align: center;
    line-height: 36px;
    color: black;
    font-weight: bold;
    margin-top: 42px;
    margin-right: 72px;
    position: relative;
}
.header .shop-list{
position: absolute;
left: 0;
top: 36px;
background-color: white;
width: 140px;
opacity: 0;
border: 1px solid black;
}
.header .shop img{
    display: inline-block;
    margin-top: 4px;
}
.header .shop:hover .shop-list{
    opacity: 1;
    
}
/* #endregion头部end */



 /* #region主导航start */
.main-nav{
    height: 48px;
    border-bottom: 1px solid #DD302D;
background-color: white;
}
.main-nav .all-types{
    height: 48px;
    width: 190px;
    background-color: orange;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 48px;
}
.main-nav-list li{
    float: left;
       margin: 0 10px;
       font-size: 16px;
}
.main-nav-list{
    
    height: 48px;
    line-height: 48px;
 

}
.main-nav-list2{
    
    height: 48px;
    line-height: 48px;
 

}
.main-nav-list2 li{
    float: left;
    margin:0 10px ;
    font-size: 16px;
}

.main-nav-list2 .bac{
background-image: url(//img11.360buyimg.com/cms/jfs/t5176/120/2413062618/773/fafe7aa3/591aa606Nfe17fd41.png);
background-repeat: no-repeat;
/* background-position: 10px 10px ; */
}
.main-nav-list2 .bac2{
background-repeat: no-repeat;
background-image: url(//img12.360buyimg.com/cms/jfs/t5464/344/2422426436/707/47720902/591aa62aN516cd9c6.png);
}
/* background-position: 10px 10px ; */




 /* #endregion主导航end*/



/* #region内容区start */
.main-content .top img{
    margin: 0 auto;
    border-radius: 30px;
    padding-top: 10px;
    cursor: pointer;
    width: 937px;
    
}
.main-content .top img:hover{
    box-shadow: 0 0 10px black;
    transition: 0.3s all linear;
}

.main-content .bottom .bottom-list li{
    float: left;
   margin: 30px 30px;
   cursor: pointer;
}
.main-content .bottom .bottom-list {
    margin-left: 160px;
}

body{
    background-color: #ECECEC;
}

.main-content .container{
    background-color: white;
}
.main-content .bottom .bottom-list li:hover {
    box-shadow: 0 0 10px black;
    border-radius: 60px;
}

/* #endregion内容区end */
 /* #region的aside固定定位侧边栏 */

 /* .aside-container{
    width: 100px;
    height: 300px;
 } */
 .aside .item{
    width: 80px;
    height: 80px;
    /* background-color: skyblue; */
    /* border: 1px solid black; */
    /* position:fixed; */
    border-bottom: 1px solid black;
    top: 100px;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.aside .item:first-child{
    border-top: 1px solid black;
}
.aside-container .aside-item1{
position: fixed;
top: 220px;
right: 0;

text-align: center;
}
.aside-container .aside-item1 img{
    margin: 0 auto;
    margin-top: 10px;
}
.aside-container .aside-item2{
    position: fixed;
    top: 300px;
    right: 0;
}
.aside-container .aside-item2 img,
.aside-container .aside-item3 img{
    margin: 0 auto;
    margin-top: 10px;
}
.aside-container .aside-item3{
        position: fixed;
        top: 380px;
        right: 0;
}
.aside-container .aside-item4{
        position: fixed;
        top: 460px;
        right: 0;
        
}
.aside-container .aside-item4 img{
    cursor: pointer;
    margin:0 auto;
    margin-top: 10px;
}
.aside-container .item:hover{
    background-color: #f4f4f4;
    box-shadow: 0 0 10px black;
    transition: 0.4s all linear;
    }
 /* #endregion的aside固定定位侧边栏 */
